RewriteEngine On

# Ne pas réécrire le dossier public
RewriteRule ^public/ - [L]

# Page principale "/" (racine)
RewriteRule ^/?$ index.php?route=home [QSA,L]

# Ne pas modifier si ça existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Page lost "/lost"
RewriteRule ^lost$ index.php?route=lost [QSA,L]

# Page Home "/home"
RewriteRule ^home$ index.php?route=home [QSA,L]

# Liste des excuses "/excuses"
RewriteRule ^excuses$ index.php?route=excuses [QSA,L]

# Ajout d'une excuse "/ajouter-excuse"
RewriteRule ^ajouter-excuse$ index.php?route=ajouter-excuse [QSA,L]

# Code HTTP "/$http_code" (ex: /404, /500)
RewriteRule ^([0-9]{3})$ index.php?route=http_code&code=$1 [QSA,L]

# Tout le reste => 404 (sauf la racine)
RewriteRule ^(.+)$ index.php?route=404 [QSA,L]